body {

 	background-color: grey
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("http://img93.xooimage.com/files/f/7/2/wallpaper_final_f...920x1080-3d47804.jpg");
}


.dropbtn {

    background-color: #1C1C1C;
    color: #81DAF5;
    width: 200px;
    padding: 14px;
    font-family: Arial;
    font-size: 20px;
    border: solid;
    border-color: #F7D358;
    border-width: 1px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2E2E2E;
    min-width: 200px;

}

.dropdown-content a {
	font-family: Arial;
    color: #81DAF5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1C1C1C}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1C1C1C;
}


p {
    border-style: solid;
    border-width: 1px;
    padding: 10px 15px;
    background-color: #2E2E2E;
    border-color: #F7D358
}


h1 {
	color: #B760E9;
	   font-family: Arial;

}
h2 {
	color: #B760E9;
	   font-family: Arial;
}
p {
	color: #81DAF5; 
	   font-family: Arial;

}

li {color: #81DAF5;
	   font-family: Arial;

}

ul { border-style: solid;
     border-width: 1px;
     background-color: #2E2E2E;
     border-color: #F7D358;

 }

 #rectangle {
 			border-style: solid;
 			border-color: #F7D358;
 			border-width: 2px;
 			background-color: #1C1C1C;
 			text-align: center;
 			width: 1000px;
 			height: 1000px;
            padding-right: 22px;
            padding-left: 22px;
 			margin-left: 23%;
 			
 }


#contact { 
		border-style: solid;
   		border-width: 1px;
   		border-color: #F7D358;
    	padding: 11px;
    	background-color: #1C1C1C;
    	text-align: center;
    	width: 800px;
		height: 400px;
		margin-left: 27%;
}


