<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Final fantasy XV</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="ffxv_wall">

<img id="header" src="images/ffx_v.png">

<div class="dropdown">
  <button class="dropbtn">Menu</button>
  	<div class="dropdown-content">
		<a href="index.html">Home</a>
		<a href="mhb.html">mijn hobbies</a>
  	</div>
</div>

<div class="boxk">

<article class="boxs">
	<h2 class="h2l"> Main characters </h2>
	<a href="https://www.youtube.com/watch?v=Npqo1DNnBwk">
	<h2> <img class="FFXV-Mainchars" src="images/FFXV-Mainchars.jpg"></h2>
	</a>
	<p class="names">	Noctis Caelum, Gladiolus Amicitia, Prompto Argentum, Ignis Scientiam, Cor Leonis. </p>
</article>

<article class="boxs">
	<h2 class="h2l"> Transportation</h2>
	<img class="transport" src="images/Chocobo-ffxv.png"> <img class="transport" src="images/Regalia-FFXV.png">
	<p class="names">The game is set in a world with one giant land mass, meaning players can cross the entire world. The player party's car: Regalia, can be either driven manually or put on autopilot. Walking or riding a chocobo are also options. Trains are available and players can explore them freely when riding them.</p>
</article>

<article class="boxs">
	<h2 class="h2l"> combat system</h2>
	<img class="battle" src="images/FFXV-Battles.jpg">
	<p class="names"> The battle system is called Active X Battle (AXB). Battles are seamless with no load times, taking place in real-time environments using all regions of the field from up-high buildings to down-low streets. Battles can take place in areas with great differences in height, and players have to fight using the full environment. This means fighting what's both in front of the player and above and below (vertical battles). A "Wait Mode" is also available, which allows players to freeze time during battles and pick targets at their leisure. When the player keeps running and fighting the game flows the same as in active mode, but as soon as one ceases input it pauses.
 	</p>
 </article>


 <article class="boxs">
 <h2 class="h2l">extra</h2>
 <img class="artwork" src="images/Luna_With_Niflheim_troops.jpg"> <img class="artwork" src="images/FFXV_Demo_Artwork.png">
</article>




</div>
<button> <a href="index.html">back</a></button>

</body>
</html>