<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>


<img id="header" src="images/FFXIVH.jpg">

<nav class="dropdown">
  <button class="dropbtn">Menu</button>
  	<div class="dropdown-content">
  		<a href="../index.html">Home</a>
  	</div>
</nav>


<section id="box">

<h1> News</h1>
<article class="lilbox">
	<h2> FFXIV Souls surrender patch 3.4 <br>
		<a href="https://www.youtube.com/watch?v=8JPfQb549Eo">
		<img class="SSP" src="images/SSP.png">
		</a>
	</h2>
	<p> A new day dawns in Ishgard. The great wyrm Nidhogg is no more, and the Dragonsong War has drawn to a long-sought-after close. Though the future offers the promise of hope, it is not without peril─for when one threat is vanquished, another.... <a href="SSP.html"> read more </a> <br> bawaited release 09/27/16</p>
</article>

<div class="ads">
	<a href="http://redir.bebi.com/1.0/go?tq=JAIXMy9LvgfJmAnyxtf4F76F5zGKtg_EKPXTnFzYELa_pBw6mepvtj3c96YjdLT3n4NigzuUPGWVjWpTukHCqUMOyKLpFu10ag72e864I5O-OZqiS7VwgPtfqCIapZdaf7inJPOze-XDt0_py6xSXF3YnEa8-qaImFHIZDLiARttbP40-DwHHAXxJ3UiAiv9ytIBGTYE8sD_7RS17JvdQ7cyu4bF-_AG_ayiRY4xSvnmRPX7XL7CeIJiUfZcNEM1enrwONDrDaFHJKTBf3gHG7PpVwzkm0NIqRa2vyUZ3MKCOSsAXknveXSe7raXNiHnvMhUHOH7ctPE0X4TCkm3W-btu3bjGXXjWWOViWgguEcrCeKvYNRCi2KIpJ2Lw-8lVxHpA9I10CFij8xasTWCYe3HZcgBB3xod4Sf5pL2B2jU-4UpTbnzKSbscnc_4ZfNhjHxNys9NZkGv_tAzRpyRam81ddgJmqwYO3w8-qRweVckqJVUx0igbN0TNAHL7XZT6LgB1uQTJyHqPZFeCmU57cgynANEZDSiYEmrags4UuODOQpJmwnxN8VqHyj-C_cIyt6FfW_saJm5pACHDV3wLArTlbdbbPb0ipXehqrhPjjApKP9Okdz2tOqbJbvd__82z_jODsD5JHYrrRsNo1ffuPppfm3_6ZtUeA8x1YFVn1gqhjgnwz5eIubmfp1b6C3IVq8P7DCDs8OTo84Wf4ndnY7XofjdaV03tMwRj2qGg&bi=808a18f6-ae86-42eb-879b-f3be22ed12c4">
	<img src="images/ad1.jpg">
	</a>
</div>

<div class="ads2">
	<a href="http://redir.bebi.com/1.0/go?tq=JAIXMy9LvgfJmAnyxtf4F76F5zGKtg_EKPXTnFzYELa_pBw6mepvtj3c96YjdLT3n4NigzuUPGWVjWpTukHCqUMOyKLpFu10ag72e864I5O-OZqiS7VwgPtfqCIapZdaf7inJPOze-XDt0_py6xSXF3YnEa8-qaImFHIZDLiARttbP40-DwHHAXxJ3UiAiv9ytIBGTYE8sD_7RS17JvdQ7cyu4bF-_AG_ayiRY4xSvnmRPX7XL7CeIJiUfZcNEM1enrwONDrDaFHJKTBf3gHG7PpVwzkm0NIqRa2vyUZ3MKCOSsAXknveXSe7raXNiHnvMhUHOH7ctPE0X4TCkm3W-btu3bjGXXjWWOViWgguEcrCeKvYNRCi2KIpJ2Lw-8lVxHpA9I10CFij8xasTWCYe3HZcgBB3xod4Sf5pL2B2jU-4UpTbnzKSbscnc_4ZfNhjHxNys9NZkGv_tAzRpyRam81ddgJmqwYO3w8-qRweVckqJVUx0igbN0TNAHL7XZT6LgB1uQTJyHqPZFeCmU57cgynANEZDSiYEmrags4UuODOQpJmwnxN8VqHyj-C_cIyt6FfW_saJm5pACHDV3wLArTlbdbbPb0ipXehqrhPjjApKP9Okdz2tOqbJbvd__82z_jODsD5JHYrrRsNo1ffuPppfm3_6ZtUeA8x1YFVn1gqhjgnwz5eIubmfp1b6C3IVq8P7DCDs8OTo84Wf4ndnY7XofjdaV03tMwRj2qGg&bi=808a18f6-ae86-42eb-879b-f3be22ed12c4">
	<img src="images/ad2.jpg">
	</a>
</div>	

<article class="lilbox">
	<h2> Final fantasy XV <br>
	<img class="FFXV" src="images/FFXV.png">
	</h2>
	<p> To gather the strength needed to uncover the truth and reclaim his homeland, Noctis and his loyal companions must overcome a series of challenges in a spectacular open world - that is ..... <a href="ffxv.html">read more</a><br> <p>awaited release 11/29/16 </p>
	</p>
</article>

<article class="lilbox">
	<h2>
		 Destiny Rise of Iron expansion
		 <img class="overwatch" src="images/rise_of_iron.jpg">
	</h2>
	<p> The wall which stood for centuries along the southern border of Old Russia has collapsed, a battle-scorched reminder that our enemies still seek to destroy us all. Fallen mutants now scavenge the tombs of the Golden Age, and the plague they have unearthed in the wastes is more dangerous than even they understand. Join Lord Saladin. Journey into the Plaguelands. Learn the fate of the Iron Lords and stop the growing threat .... <a href="rise_of_iron.html">Read more</a><br>now available  </p>
</article>

<article class="lilbox">
	<h2>
		Siper Elite IV
		<img class="overwatch" src="images/SE4I.jpg">		
	</h2>
	<p> Set in the breathtaking landscapes of Italy in 1943, Sniper Elite 4 combines genre-defining ballistics, breathless emergent stealth and gripping third-person action across the largest and most diverse environments ever seen in the series. <a href="SE4.html">read more</a><br> awaited release 14/02/17 </p>
</article>


</section>
</body>
</html>