<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>mijn hobbie's</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="mhb_wall">

<img id="header_mhb" src="images/controller2.jpg">

<nav class="dropdown">
  <button class="dropbtn">Menu</button>
  	<section class="dropdown-content">
  		<a href="../opdrachten.html">Back</a>
  	</section>
</nav>
<main id="main">
<section class="sectionnaw">
	<h2> my hobby's zijn teken , photoshop & anime</h2>

</section>


</section>
<section class="section66">
	<h3>Anime</h3>
	<p class="title-anime"> Top 5 anime : </p>

	<section id="flatline-anime">
	<img src="images/anime1.jpg">  <img src="images/anime2 .jpg"> 
	<img src="images/anime3.jpg">  <img src="images/anime4.jpg"> 
	<img src="images/anime5.jpg"> 
	</section>
	<p class="animetext1">Toradora</p> <p class="animetext2">Gurren Lagan</p> <p class="animetext3">Bleach</p> <p class="animetext4">Kancolle</p> <p class="animetext5">Owari no Seraph</p>
</section>


</main>
</body>
</html>