<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>mijn hobbie's</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="mhb_wall">
<main>
<img id="header_mhb" src="images/controller2.jpg">

<div class="dropdown">
  <button class="dropbtn">Menu</button>
  	<div class="dropdown-content">
  		<a href="../index.html">Home</a>
  	</div>
</div>

<div id="box2">

	<article class="boxs">
		<h2 class="h2l"> my hobby is gaming and anime</h2>
	</article>

	<article>
		<h2 class="h2f">Mij fav anime:</h2>
		<h2 class="h2k"> Yu-Gi-Oh</h2> 
		<img class="jpg" src="images/yugioh.jpg">
		<h2 class="h2k"> Bleach</h2>
		<img class="jpg" src="images/ichiriki.jpg">
		<h2 class="h2k"> Fate/Zero </h2>
		<img class="jpg" src="images/fate_zero.png">
	</article>
	<article>
		<h2 class="h2f"> Mij fav games :</h2>
		<h2 class="h2k"> Darksouls</h2>
		<img class="jpg" src="images/darksouls.jpg">
		<h2 class="h2k"> FinalFantasyXIV </h2>
		<img class="jpg" src="images/FFXIV_logo.png">
		<h2 class="h2k"> Skyrim </h2>
		<img class="jpg" src="images/skyrim.jpg">
	</article>
	<article>
		<h2 class="h2f"> special notice to :</h2>
		<h2 class="h2k"> yugioh Trading Card Game (TCG)</h2>
		<img class="jpg" src="images/Yugioh_Logo.png">
	</article>

	<article>
		<h2 class="h2f"> random pictures</h2>
		<h2 class="h2k"></h2>
		<img class="jpg" src="images/konan1.jpg">
		<img class="jpg" src="images/konan2.jpg">
		<img class="jpg" src="images/konan3.jpg">
		<img class="jpg" src="images/konan4.jpg">
		<img class="jpg" src="images/konnanfinal.jpg">
	</article>

</div>
</main>
</body>
</html>