<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>mijn hobbie's</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="mhb_wall">

<img id="header_mhb" src="images/controller2.jpg">

<nav class="dropdown">
  <button class="dropbtn">Menu</button>
  	<section class="dropdown-content">
  		<a href="../index.html">Home</a>
  	</section>
</nav>
<main id="main">
<section class="sectionnaw">
	<h2> my hobby's are yu-gi-oh TCG, gamen and anime</h2>

</section>

<section class="section1">
	<h3> Yu-Gi-Oh TradingCardGame</h3>
	<p class="sectionp"> What is the Yu-Gi-Oh Trading card game (TGC)?

	In this game, two players Duel each other using a variety of Monster, Spell, and Trap Cards to defeat their opponent's monsters and be the first to drop the other's Life Points to 0. There are 4 types of monster cards(wich u cna see below : Normal,XYZ,Synchro & pendalum)  read the TGC site for more information on <a id="aa" href="http://www.yugioh-card.com/en/index.html">Yu-Gi-Oh the Trading Card Game!</a></p>

	<img class="jpg" src="images/general_gantala_of_the_ice_barrier_by_dora5612-d8iqvqs.png"> <p class="card1">Normal Monster</p> 
	<img class="jpg" src="images/Number21FrozenLadyJustice-PP17-JP-C.png"> <p class="card2">XYZ Monster</p> 
	<img class="jpg" src="images/gungnir__dragon_of_the_ice_barrier_by_meocon8864-d9jceet.png"> <p class="card3">Syncro Monster</p> 
	<img class="jpg" src="images/DragonpulseMagician-SDMP-EN-C-1E.png"> <p class="card4">Pendalum Monster</p>
</section>
<section class="section1">
	<h3>Anime</h3>
	<p> i love to watch anime and i like all genre's in anime but i enjoy Supernatural the most! </p>

</section>
<section class="section1">
	<h3> Games</h3>
	<p></p>

</section>


</main>
</body>
</html>