<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>rise of iron</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="rise_of_iron_wall">

<img id="header" src="images/rise_of_iron.jpg">

<div class="dropdown">
  <button class="dropbtn">Menu</button>
  	<div class="dropdown-content">
		<a href="index.html">Home</a>
		<a href="mhb.html">mijn hobbies</a>
  	</div>
</div>

<div class="boxk">
	<article class="boxs">
		<h2 class="h2l">story</h2>
		<img class="iron" src="images/optimal.jpg">
		<ul class="ironul">
		<p class="irontext">The Fallen, one of the five enemy races in Destiny, have breached the inner walls of the last safe haven on Earth, and you have to stop them. This predicament draws out Lord Saladin, the last remaining Iron Lord, who will lead players as they become the next generation of a prestigious line of legendary heroes.
		Your enemies have acquired an SNA Virus, a breakthrough in nanotechnology that provides with them with deadly new weapons and abilities that you've never seen before. In other words, you're in for a challenging treat.
		Rise of Iron will see you travel to a range of new and familiar locations as you seek to discover the mythology of the Iron Lords. Some of the new locales include The Plaguelands, an all-new zone located on Earth, beyond The Cosmodrome.
		</p>
		</ul>
	</article>


<article class="boxs">
	<h2 class="h2l"> what brings this expansion? </h2>
	<img class="iron" src="images/new-story.jpg">
	<p class="irontext"> <h1>Destiny: Rise of Iron will add stacks of new weapons, armour and raids: </h1>
		<h2> The list of Destiny:Rise of Iron Exotics:</h2>	
<ul>
	<li>Burning Eye (marksman rifle)</li>
	<li>But Not Forgotten (sniper rifle)</li>
	<li>Each New Day (fusion rifle)</li>
	<li>First Citizen IX (LMG)</li>
	<li>Iron Gjallarhorn (rocket launcher)</li>
	<li>Khostov 7g-0x (full auto rifle)</li>
	<li>Nemesis Star (shotgun)</li>
	<li>Occasm Razor (sword)</li>
	<li>Saladin’s Vigil (fusion rifle)</li>
	<li>The Lingering Song (pistol)</li>
	<li>The Titanium Orchid (rocket launcher)</li>
	<li>The Unbent Tree (full auto rifle)</li>
	<li>Trespasserb (pistol)</li>
	<li>Winter’s End (shotgun)</li><br>


	<h1>New Strike (3 man operation): </h1>
	<h2> The Shiva Crisis </h2>
	<h3>The Shiva Crisis </h3>
	<p class="irontext"> in the shiva crisis, the nano machine sepiks has come bak in a perfected form ( so ofcourse the boss is called "perfected sepiks").
	 u must fight sepiks who has enhanced the fallen with new tech to fight against you.<img class="iron" src="images/sepiks.jpg"></p><br>

</ul>
</article>



</div>


<button> <a href="index.html">back</a></button>

</body>
</html>