<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sniper Elite 4</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="se4_wall">

<img id="header" src="images/se4_ita.jpg">

<div class="dropdown">
  <button class="dropbtn">Menu</button>
  	<div class="dropdown-content">
		<a href="index.html">Home</a>
		<a href="mhb.html">mijn hobbies</a>
  	</div>
</div>

<div class="boxk">
	<article class="boxs">
		<h2 class="h2l">The story</h2>
		<img class="se4_image" src="images/keyart.jpg">
		<p se4text>Set in the aftermath of its award-winning predecessor, Sniper Elite 4 continues the series’ World War Two heritage by transporting players across the beautiful Italian peninsula, from sun-drenched Mediterranean coastal towns, to colossal Nazi mega structures, daunting forests and giddying mountain monasteries inspired by Monte Cassino.Covert agent and elite marksman Karl Fairburne must fight alongside the brave men and women of the Italian Resistance to help free their country from the yoke of Fascism, and defeat a terrifying new threat with the potential to halt the Allied fightback in Europe before it’s even begun.If his mission fails, there will be no Operation Overlord, no D-Day landings, and no Victory in Europe</p>
	</article>

</div>
</body>
</html>