<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>souls surrender patch 3.4</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body class="ssp_wall">

<img id="header" src="images/FFXIVH.jpg">

<div class="dropdown">
  <button class="dropbtn">Menu</button>
  	<div class="dropdown-content">
		<a href="index.html">Home</a>
		<a href="mhb.html">mijn hobbies</a>
  	</div>
</div>

<div class="boxk">

<article class="boxs">
	<h2 class="h2l"> New main senario quest </h2>
	<h1 class="souls"> Souls surrender patch 3.4 </h1>
	<img class="MSQ" src="images/MSQ1.jpg">
	<p> After a thousand years of bloodshed and sorrow, the shade of Nidhogg, rage incarnate, fell at last to the Warrior of Light. So it was that the Dragonsong War drew to a close, and the survivors, bloodied but unbowed, could begin to pick up the pieces. A new day dawns in Ishgard, and her champions may rest easy─if only for a moment. For every ending marks a new beginning. </p>
</article>

<article class="boxs">
	<h2 class="h2l"> New Raid </h2>
	<h2 class="h2l"> Alexander : The Creator :</h2>
	<img class="avg" src="images/ALEX.jpg">
	<p> Roundrox remains in dire straits, and soon the Illuminati will have all they need to rewrite history in their twisted image. As the black ink of fate is pressed to parchment, it is up to the Warrior of Light to wrestle the pen from the clutches of evil. Thus does our brave hero journey once more unto the breach, to discover what secrets lie at the heart of Alexander, and prove the would-be goblin prophet false. </p>
</article>

<article class="boxs">
    <h2 class="h2l"> New Trial </h2>
	<h2 class="h2l"> contaiment bay P1T6 :</h2>
	<img src="images/contaiment.jpg">
	<p>
	History tells of a Meracydian nation comprised of a multitude of races, the foundations of which were built on the worship of a single deity. The "Goddess," as she was simply known, graced the souls of her worshipers with perfect equilibrium, binding their disparate societies in gilded chains of harmony.<br>
	In the present day, she is better known as Sophia, one of the incalculably powerful eikons of the Warring Triad. And after five thousand years of imprisonment, her failed plans for vengeance once more threaten to come to fruition. Defeat the wakened thralls and slay the stirring Goddess, lest her divine "balance" bring all the world to equal ruin!</p>
</article>

<article class="boxs">
	<h2 class="h2l"> new dungeons </h2>
	<h3 class="pos1k">xelphatol</h3>
	<h3 class="pos1j"> the great gubal libary(hard)</h3>
	<img class="" src="images/DUNG1.jpg"><img src="images/DUNG2.jpg">

	<p class="left">Forced to flee the Black Shroud for fear of the elementals and their boundless wrath, the Ixal settled the windswept mountains of Xelphatol more than five hundred and fifty years ago. Since that day, they have labored tirelessly to take out an existence.</p>
	<p>	Though long since abandoned by its Sharlayan keepers, the Great Gubal Library does not want for visitants, its halls ever stirring with the voidsent guardians who walk its corridors. With danger at every turn, the fool who dares trespass here would find not wisdom but certain doom.</p>
</article>

<article class="boxs">
	<h2 class="h2l"> Extra updates </h2>
	<h3 class="pos1k">new hairstyles</h3>
	<h3 class="pos1j">an extra hotbar for the console players </h3>
	<img src="images/hairstyles.jpg"><img src="images/console.jpg">

	<p class="left2">New hairstyles have come to Eorzea! Whether you prefer your hair down, swept up, or even with an undercut, these new hairstyles for both men and women are sure to impress.</p>
	<p> For the gamepad user who believes you can never have too many hotbars! Now you can display additional hotbars with a simple double tap of the trigger buttons! Customizable to display all the time or on demand─the choice is yours.</p>
</article>

</div>

<button> <a href="index.html">back</a></button>

</body>
</html>